{% extends "factura/base.html" %}

{% block title %}Detalle Factura{% endblock %}

{% block content %}

<p><strong>Aquí tiene la factura solicitada {{ receipt.num_receipt }}:</strong></p>

<table class="table is-striped">
    <h1>Detalles de tu pedido</h1>
    <thead>
        <tr>
            <th>Línea</th>
            <th>Unidades</th>
            <th>Nombre del producto</th>
            <th>Precio unitario</th>
            <th>Precio total</th>
        </tr>
    </thead>
    <tbody>
        {% for l in factura.linereceipt_set.all %}
        <tr>
            <td>{{ l.id_product }}</td>
            <td>{{ l.units }}</td>
            <td>{{ l.product_name }}</td>
            <td>{{ l.unit_price }}</td>
            <td>{{ l.base_imponible }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2><strong>Precio final: {{ precio_total }}</strong></h2>
{% endblock content %}
